body {
    width: 910px;
    margin: auto;
    margin-top: 50px;
}
#firstimg {
    height: fit-content;
}
main {
    display: grid;
    grid-template-columns: 47px 7fr 2fr;
    height: 75px;
    background-image: url("lab-assets/hr-img.png");
    background-repeat: repeat-x;
    background-size: 10px;
    background-position-y: 65px;
}
header{
    display: flex;
    flex-direction: column;
}
h4 {
    margin-top: 0px;
    padding: 0px;
    font-size: 15px;
    color:rgb(99, 99, 99);
}
#one {
    margin-top: 5px;
}

p{
    width: 910px;
}
#img{
    display:flex;
    justify-content: center;
}
#two{
display: flex;
height: 15px
}

#five{
    background-image: url("lab-assets/hr-img.png");
    background-repeat: repeat-x;
    background-size: 10px;
    background-position-y: 40px;
    display: grid;
    grid-template-columns: 90px 430px 1fr;
    }
  
    #checklist {
        background-image: url("lab-assets/list-bg.png");
        width: 900px;
      height: 300px;
      display:grid;
      grid-template-columns: 1fr 1fr;
    }